.App {
  text-align: center;

  /* centered and boxed*/
  width: 1160px;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-scorecards {
  display: flex;
  justify-content: space-evenly;
}

.App .stat-box {
  margin: 10px;
  flex-basis: 25%;
}

.App .floorplan-row {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

.App .floorplan {
  flex-basis: 70%;
  height: 100%;
}

.App .temp-controls {
  height: 100%;
  margin: 20px;
}